body {
  font-family: Arial, sans-serif;
  background-color: #161717;
  margin: 0;
  padding: 2rem;
  text-align: center;
}
 .card {
  background: white;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  width: 96%;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 700px;
  }
}

input, select {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background-color: #007bff;
  color: white;
}

.danger {
  background-color: #dc3545;
  color: white;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #0e0e0e;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 5px;
  color: white;
}

.success {
  background-color: #28a745;
  color: white;
}


